**LIBRARIES AND SETTINGS**

In [70]:
# LIBRARIES
import os
import re
import time
import requests
import json
import folium
import fnmatch
import numpy as np
import pandas as pd
from pandas import json_normalize

# IGNORE WARNINGS
import warnings
warnings.filterwarnings("ignore")

# GET CURRENT WORKING DIRECTORY
print(os.getcwd())

/workspaces/data_analytics_project

---

**DATA IMPORT**

In [71]:
# SHOW .CSV - FILES IN THE DIRECTORY
flist = fnmatch.filter(os.listdir('.'), '*.csv')
for i in flist:
    print(i)

# READ THE DATA TO A PANDAS DATA FRAME
df = pd.read_csv('IMDB Top 250 Movies.csv', sep=';', encoding='utf-8')
df.head()

IMDB Top 250 Movies.csv

,title,genres,release_year,runtime_(mins),age_rating,director,movie_rating,votes_count
0,The Shawshank Redemption,Drama,1994,142,12,Frank Darabont,"9,3",2969404
1,The Godfather,"Crime, Drama",1972,175,16,Francis Ford Coppola,"9,2",2070969
2,The Godfather Part II,"Crime, Drama",1974,202,16,Francis Ford Coppola,"9,0",1398083
3,The Dark Knight,"Action, Crime, Drama, Thriller",2008,152,16,Christopher Nolan,"9,0",2950798
4,12 Angry Men,"Crime, Drama",1957,96,12,Sidney Lumet,"9,0",895706

**COUNT / DATA TYPE**

In [72]:
# DIMENSION (ROWS, COLUMNS)
print('Dimension:', df.shape)
print('Number of rows:', df.shape[0])
print('Number of columns:', df.shape[1])

# GET DATA TYPES
df.dtypes

Dimension: (250, 8)
Number of rows: 250
Number of columns: 8

title             object
genres            object
release_year       int64
runtime_(mins)     int64
age_rating        object
director          object
movie_rating      object
votes_count        int64
dtype: object

**COUNT / IDENTIFY MISSING VALUES (IF ANY)**

In [73]:
# COUNT MISSING VALUES
print(pd.isna(df).sum())

# IDENTIFY ROWS WITH MISSING VALUES
df[df.isna().any(axis=1)].head()

title             0
genres            0
release_year      0
runtime_(mins)    0
age_rating        0
director          0
movie_rating      0
votes_count       0
dtype: int64

Empty DataFrame
Columns: [title, genres, release_year, runtime_(mins), age_rating, director, movie_rating, votes_count]
Index: []

**COUNT / IDENTIFY DUPLICATED VALUES (IF ANY)**

In [74]:
# COUNT DUPLICATED VALUES
print(df.duplicated().sum())

# IDENTIFY ROWS WITH DUPLICATED VALUES
df[df[['title', 'genres', 'release_year']].duplicated()]

0

Empty DataFrame
Columns: [title, genres, release_year, runtime_(mins), age_rating, director, movie_rating, votes_count]
Index: []

**DROP ROWS WITH MISSING VALUES**

In [75]:
# DROP MISSING VALUES
print(df.shape)
df = df.dropna()

# DROP DUPLICATED VALUES
print(df.shape)

(250, 8)
(250, 8)